h1, h2, h3, h4, h5 {
    font-family: Roboto;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #394867;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
p {
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9ba4b4;
}