*
{
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    letter-spacing: normal;
    color: #394867;
}
h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}

input[type=text], input[type=email], input[type=password]
{
  font-size: 16px;
  color: #394867;
}

input[type=checkbox] {
  border-radius: 5px;
  box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #495464;
  background-color: #ffffff;
}
