/*參數類*/
:root {

  --common-background-color:#f1f2f3;

  /*common-item(區塊)*/
  --common-item-inner-margin-left: 0.5vw;
  --common-item-inner-margin-right: 0.5vw;
  --common-item-inner-padding-left: 2vw;
  --common-item-inner-padding-right: 2vw;
  --common-item-inner-padding-top: 1.5vh;
  --common-item-inner-padding-bottom: 1.5vh;
  --common-item-inner-background-color:#ffffff;
}
/*移除預設*/
.row > * {
  padding-right: 0vw;
  padding-left: 0vw;
  margin-top: 0vh;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  padding-right: 0vw;
  padding-left: 0vw;
}
*
{
  font-family: Roboto;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  font-size: 1vmin;
  line-height: 1vmin;
}

/*text*/
h1, h2, h3, h4, h5 {
    white-space:nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    letter-spacing: normal;
    color: #394867;
    margin-bottom: 0px;
    margin-top: 0px;
}
h1 {font-size: 4vmin;} /*44*/
h2 {font-size: 2.5vmin;} /*28*/
h3 {font-size: 2vmin;} /*24*/
h4 {font-size: 1.7vmin;} /*18*/
h5 {font-size: 1.5vmin;} /*16*/
p {
  margin-top: 0;
  margin-bottom: 0;
}

/*input*/
input[type=text], 
input[type=email], 
input[type=password], 
select,
textarea {
  height: 3.5vh;
  padding-left: 0.25vw;
  padding-right: 0.25vw;
  padding-top: 0.15vh;
  padding-bottom: 0.15vh;
  color: #394867;
  font-size: 1.5vmin;
  line-height: 1vmin;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #dddfe5;
}
/*select*/
select {
  /*移除箭頭樣式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*改變右邊箭頭樣式*/
  background: url("../img/common/select-triangle.svg") no-repeat scroll right center transparent;
  background-position-x: 95%;
  padding-left: 0.5vw;
  padding-top: 0.15vh;
  padding-top: 0.15vh;
  font-size: 1.5vmin;
  width: 5vw;
}

/* 於inputbox中自動填入後的陰影 */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/*checkbox樣式*/
input[type='checkbox'] {
  cursor: pointer;
  position: relative;
  width: 0.95vw;
  height: 1.9vh;
  font-size: 1.5vmin;
  visibility: hidden;
}
input[type=checkbox]:after {
  position: absolute;
  width: 0.95vw;
  height: 1.9vh;
  top: 0;
  content: " ";
  color: black;
  display: inline-block;
  visibility: visible;
  border-radius: 5px;
  box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #bbbfca;
}
input[type='checkbox']:checked::after {
  background:url("../img/common/icon-s-check.png");
  background-size: 100% 100%;
}



/*輸入框內的placeholder文字*/
::-webkit-input-placeholder {
  font-size: 1.5vmin;
  color: #bbbfca;
}
/*button*/
button, [type="button"] {
  font-size: 1.5vmin;
}
.button-confirm {
  padding-left: 0.75vw;
  padding-right: 0.75vw;
  height: 3.5vh;
  border-radius: 6px;
  background-color: #394867;
  color: #ffffff;
}
.button-cancel {
  padding-left: 0.75vw;
  padding-right: 0.75vw;
  height: 3.5vh;
  border-radius: 6px;
  background-color: #bbbfca;
  color: #ffffff;
}



/*table*/
th, tr {
  font-size: 1.4vmin;
}
td {
  font-size: 1.4vmin;
}
.has-gutter > tr > th {
  font-size: 1.8vmin !important;
  color: #394867 !important;
  padding: 0.75vh 0 !important;
}
.el-table__row > td {
font-size: 1.8vmin !important;
color: #707b91 !important;
padding: 0.75vh 0 !important;
}
.nodata-area-div > img {
  margin-top: 4vh;
  height: 7.5vh;
  width: 7.5vw;
}
.nodata-area-div > p {
  margin-top: 1.5vh;
}

/*modal*/
.modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content {
  border: none;
}
.modal-body-content {
  height: 100%;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  background-color: #707b91;
}
.modal-header > h5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 0%;
}
.modal-body {
  padding: 0%;
}
.modal-body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.modal-body-content-sub {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;  
  height: 3.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.modal-body-content-sub > h5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  padding-left: 2vw;
}
.modal-body-content-sub > input[type=text] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  line-height: 1.33;
  color: #394867;
  border: solid 1px #dddfe5;
  background-color: #ffffff;
}
.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 0px;
  height: 6vh;
  width: 100%;
  padding-top: 0%;
}

/*paginatio*/
.number, .btn-prev, .btn-next {
  font-weight: 500;
  color: #394867 !important;
  border-radius: 8px !important;
}
.number.active {
  background-color: #394867 !important;
  border-radius: 8px;
  border: solid 1px #384766;
  color: #ffffff !important;
}
.number:hover {
  color: white !important;
}
.paginatio-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.paginatio-area-p1 {
  width: 30%; 
}
.paginatio-area-p2 {
  width: 70%; 
}
.paginatio-area-p1-sub {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #707b91;
}
.paginatio-area-p1-sub > p{
  margin-right: 0.25vw;
}
.paginatio-area-p1-sub > select {
  background: url("../img/common/ic-arrow-orange-down.svg") no-repeat scroll right center transparent;
  background-position-x: 90%;
  width: 2.5vw;
  margin-right: 0.25vw;
  color: #ef8059;
  border:none
}
.el-pagination__jump {
  font-weight: 500 !important;
  color: #384766 !important;
}
.el-input.el-pagination__editor.is-in-pagination > .el-input__inner {
  border-radius: 6px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff !important;
  width: 2vw;
}
/*common area*/
.row {
  height: 100%;
}
.common-item {
  height: 100%;
}
.test{
  font-size: 10px;
}
/* .common-item-inner {
  @apply h-full w-full;
  @apply ml-4 mr-4;
  @apply ml-4 mr-4 pt-4 pb-4 pr-4 pl-4;
  @apply h-full w-full;
  @apply bg-common;

  /* background-color: var(--common-item-inner-background-color); */
  /* border-radius: 8px; */
/* }  */
.common-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dddfe5;
  height: 100%;
  width: 100%;
}
.common-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/*不包含左右padding - 通常用於有緊貼底線的header項目使用 start*/
.common-item-inner-nlrp {
  height: 100%;
  margin-left: var(--common-item-inner-margin-left);
  margin-right: var(--common-item-inner-margin-right);
  padding-top: var(--common-item-inner-padding-top);
  padding-bottom: var(--common-item-inner-padding-bottom);
  background-color: var(--common-item-inner-background-color);
  border-radius: 8px;
}
.common-header-clrp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dddfe5;
  height: 100%;
  width: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
}
.common-content-clrp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
}
/*不包含左右padding - 通常用於有緊貼底線的header項目使用 end*/

.common-vertical-separation-line {
 box-shadow: 0 0 0 0.5px #bbbfca;
}


/* .common-container-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.common-container-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.common-item {
  border-radius: 8px;
  background-color: #ffffff;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}  */



/* .common-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
  border-bottom: 1px solid #dddfe5;
  background-color: #ffffff;
} 
.common-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #ffffff;
}*/

/*inputbox about css*/
.inputbox-area-external {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: center;
  width: 18.3vw;
  height: 4.1vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border-radius: 6px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}
.inputbox-area-external > .common-icon {
  width: 1vw;
  height: 1vw;
  /* cursor: pointer; */
}
.inputbox-area-external > .common-line {
  height: 2vh;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
  box-shadow: 0 0 0 0.5px #bbbfca;
}
.inputbox-area-external > .common-inputBox {
  /* width: 250px; */
  /* width: 50%; */
  border-width: 0px;
  border-style: none;
  outline: none;
  cursor: text;
}
.inputbox-area-external > .common-right-icon-external {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  /* flex: 1; */
  /* text-align: right; */
  cursor: pointer;
  width: 1vw;
  height: 1vh;
}

/*ckeckBox about css*/
.ckeckBox-area-external {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 2vh;
  margin-top: 0.9vh;
}
.ckeckBox-area-external > .common-ckeckBox {
  margin-right: 0.4vw;
  border-radius: 5px;
  box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}
.ckeckBox-area-external > .ckeckBox-area-lefttext {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 1.5vmin;
  color: #707b91;
  height: 100%;
}
.ckeckBox-area-external > .ckeckBox-area-rightText {
  font-family: Roboto;
  color: #9ba4b4;
  /*置右*/
  flex: 1;
  text-align: right;
  text-decoration: none;
}

.viewmore {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; 
  height: 2vh;
  width: 100%;
  margin-top: 1vh;
}
.viewmore > p {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; 
  color: #ef8059;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}
.viewmore > img {
  margin-top: 0.1vh;
  margin-left: 0.25vw;
}


.description {
  font-size: 1.5vmin;
}

/*error text css*/
.errortext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 1.7vh;
  width: 18vw;
  font-size: 1.4vmin;
  color: #e43030;
  margin-top: 0.2vh;
}
.input-error-style {
  border-color: red !important;
}
.input-no-error-style {
  border-color: #e8e8e8 !important;
}
