
.loginBg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 22vh;
  padding-bottom: 22vh;
  padding-left: 16vw;
  padding-right: 16vw; 
  background-image: url("../img/login/bg-login.png");
  background-size: cover;
  
} 
.loginLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 12vw;
}
.loginRright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22vw;
  /* height: 50vh; */
  margin-top: 7vh;
  padding-top: 3.7vh;
  padding-bottom: 3vh;
  padding-left: 1.6vw;
  padding-right: 1.6vw; 
  box-shadow: 0 0 8px 0 rgba(204, 204, 204, 0.6);
  background-color: #ffffff;
}
.loginTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
}
.loginDescribution {
  display: flex;
  justify-content: center;
  margin-top: 0.7vh;
  margin-bottom: 2vh;
  color: #9ba4b4;
}

/*btn about css*/
.login-btn-area {
  margin-top: 3.4vh;
  width: 18vw;
  height: 4vh;
}
/* .login-btn-area-external > .login-btn {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: #394867;
  cursor: pointer;
}
.login-btn-area-external > .login-btn > .login-btn-text {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
} */

/*signup text css*/
.signup-area-external {
  display: flex;
  flex-direction: row;
  margin-top: 1.2vh;
}
.signup-leftText {
  /* font-size: 14px; */
  color: #9ba4b4;
  text-align: right;
  white-space:nowrap;
}
.signup-rightText {
  margin-left: 0.4vw;
  /* font-size: 14px; */
  color: #707b91;
  text-decoration: none;
}



